.stApp{
    background: linear-gradient(
        135deg,
        #ffffff 0%, 
        #6e48ea 50%,
        #ffffff 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background: linear-gradient(-45deg, #12efbf, #e92698, #12efbf, #e92698);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 8px 12px 10px rgba(20, 16, 11, 0.5);
    margin-bottom: 25px;
    text-align: center;
}

h1, h2, h3 {
    color: #0f172a;
}

div[data-tested = "metric-container"] {
    background-color: #1e35cd;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.5);
}

.prediction-box{
    background: linear-gradient(
        135deg,
        #dcfce7,
        #bbf7d0
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight : bold;
    color: #14532d;
    margin-top: 15px;
}